.home {
	.home-bg-1 {
		//background-image: url(../../images/home-bg-level-1.svg);
		background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(174,176,179,1) 100%);
	}

		.cog-nav {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			display: flex;
			svg {
				width: 100%;
				margin: auto;
			}
		}
	.top {
		text-align: center;
		.home-text-1 {
			width: 44%;
			margin: auto;
		}
		
	}
}


