#page-4 {

}

#p4-d1 {
	object {
		transform: translateX(-2.3%);
	}
	
	.positioned-images {
		img {
			bottom: 9.7%;
			width: 56.1%;
			right: 16%;
		}
	}
}

#p4-d2 {
	object {
		transform: translateX(-2.3%);
	}
	
	.positioned-images {
		img {
			bottom: 13%;
			width: 40%;
			right: 13%;
		}
	}
}

#p4-d3 {
	object {
		transform: translateX(-2.3%);
	}
	
	.positioned-images {
		img {
			bottom: 7%;
			width: 77%;
			right: 9%;
		}
	}
}

#p4-d4 {
	object {
		transform: translateX(-2.3%);
	}
	
	.positioned-images {
		img {
			bottom: 5%;
			width: 33%;
			right: 19%;
		}
	}
}