#page-3 {
	.cs-img {
		position: absolute;
		width: 52%;
		bottom: 2%;
		right: 15%;
	}
}

#p3-d1 {
	.positioned-images {
		img {
			bottom: 3.7%;
			width: 80%;
			right: 9%;
		}
		.modal-trigger.air-trigger {
			position: absolute;
			cursor: pointer;
			width: 19%;
			height: 10%;
			bottom: 33%;
		}
	}
}

#p3-d2 {
	.positioned-images {
		img {
			bottom: 13%;
			width: 40%;
			right: 13%;
		}
	}
}

#p3-d3 {
	.positioned-images {
		img {
			bottom: 7%;
			width: 77%;
			right: 9%;
		}
	}
}

#p3-d4 {
	.positioned-images {
		img {
			bottom: 5%;
			width: 33%;
			right: 19%;
		}
	}
}